{% extends "global/base.html" %}

{% load static %}

{% block extra-head-css %}
  <link href="{% static 'courses/style.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra-body-content %}
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{ lecture.session_name }}</h1>
      <p class="lead text-muted">{{ lecture.session_description }}</p>
    </div>
  </section>
  <div class="py-5 bg-light">
    <div class="container">
      {{ lecture.session_content | safe }}
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          {% if previous_lecture %}
            <a href="{% url 'courses:lecture' course_url_name=course.url_name lecture_url_name=previous_lecture.url_name %}">
              <small>Previous</small>
            </a>
          {% else %}
            <small class="text-muted">Previous</small>
          {% endif %}
        </div>

        <div class="col-md-6">
          <span class="float-right">
            {% if next_lecture %}
              <a href="{% url 'courses:lecture' course_url_name=course.url_name lecture_url_name=next_lecture.url_name %}">
                <small>Next</small>
              </a>
            {% else %}
            <small class="text-muted">Next</small>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}