{% extends "global/base.html" %}

{% load static %}

{% block extra-head-css %}
    <link href="{% static 'css/sticky-footer.css' %}" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block body-content %}
<body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">izCert</h1>
      <p class="lead">{{ message }}</p>
    </main>

    <footer class="footer">
      <div class="container">
        {% if user.is_authenticated %}
          <a class="text-muted" href="{% url 'logout' %}">logout</a>
        {% else %}
          <a class="text-muted" href="{% url 'login' %}">login</a>
        {% endif %}
      </div>
    </footer>
  
{% endblock %}
